* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f8c471; 
}

.navbar {
    background-color: #ff6f61;
    border-radius: 10px;
}

.navbar-brand {
    animation: glowing 1.5s ease-in-out infinite;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link {
    color: #f8c471 !important;
}

.container {
    margin-top: 20px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffb74d;
}

input.form-control {
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
}

.card {
    background-color: #1d1d1d;
    border: 1px solid #444;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    background-color: #ffb74d;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.card-text {
    font-size: 14px;
    color: #666;
}

.card button {
    background-color: #ff6f61;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #ff3d29;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
}

.modal-header {
    border-bottom: 1px solid #eee;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.modal-body {
    font-size: 16px;
    color: #555;
}

.img-fluid {
    border-radius: 10px;
    margin-bottom: 15px;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px #f8719a, 0 0 10px #f8c471, 0 0 15px #b42411, 0 0 20px #9035cc;
        color: #3dccb9;
    }
    25% {
        text-shadow: 0 0 5px #76c21f, 0 0 10px #110c03, 0 0 15px #f8c471, 0 0 20px #16bcda;
        color: #e61375;
    }
    50% {
        text-shadow: 0 0 5px #82ec09, 0 0 10px #f8c471, 0 0 15px #e20c41, 0 0 20px #f8c471;
        color: #f8c471;
    }
    75% {
        text-shadow: 0 0 10px #f8c471, 0 0 20px #a3a19d, 0 0 30px #f8c471, 0 0 40px #f8c471;
        color: #2b0ecc;
    }
    100% {
        text-shadow: 0 0 5px #f8c471, 0 0 10px #2eec08, 0 0 15px #f8c471, 0 0 20px #a917ce;
        color: #e60d18;
    }
}
